#outputSection {
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    position: fixed;
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    overflow: auto;
}

.discharge__h2 {
    text-transform: capitalize;
    font-size: 25px;
    margin-bottom: 40px;
}

#addOutputItems {
    background: var(--orange);
    color: var(--white);
    padding: 10px 40px;
    border: 0px;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 20px;
}

#OutputItems {
    background: var(--green);
    color: var(--white);
    padding: 10px 40px;
    border: 0px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
}

#OutputItems.loading {
    background: transparent;
    cursor: progress;
    padding: 0px;
}

#sectionSelectOutput {
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    position: fixed;
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 100px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
}

#SectionItemsCardsOutput {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 40px;
    padding: 0px 20px;
}

#centralizeOutput {
    background: #00000063;
    backdrop-filter: blur(6px);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 3;
    display: none;
}

.editUsedQuanty {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    padding: 40px 0px;
    width: 50%;
    height: 50%;
    border-radius: 20px;
}

.editUsedQuanty__h2 {
    font-size: 25px;
    color: var(--black);
}

.discharge__h2.subtitle {
    font-size: 22px;
    margin: 40px 0px 20px 0px;
}

#confirmOutputQuantyBtn {
    background: var(--green);
    color: var(--white);
    padding: 10px 40px;
    border: 0px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
}

#closeEditOutputQuanty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background: transparent;
    border: 0px;
    outline-width: 0px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0px 0px;
}

#OutputQuantyInput {
    width: 90%;
}

#closeSectionSelectOutput {
    background: var(--green);
    color: #fff;
    border-radius: 25px;
    position: fixed;
    bottom: 0;
    margin: 0px 0px 20px 0px;
    padding: 8px 25px;
    font-size: 22px;
    border: solid 2px transparent;
    text-transform: uppercase;
    z-index: 2;
    transition: 0.2s;
}

#closeSectionSelectOutput:hover {
    border: solid 2px var(--green);
    background: #fff;
    color: var(--green);
    box-shadow: 0px 0px 20px var(--green);
}

#closeOutputSection {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background: transparent;
    border: 0px;
    outline-width: 0px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0px 0px;
}

#OutputSelectedSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#editOutputQuantyAlert {
    color: #f00;
    margin: 0px;
    font-size: 19px;
}

#OutputItemsAlert {
    color: #f00;
    margin: 20px 0px;
    font-size: 19px;
}

@media only screen and (max-width: 500px) {
    .discharge__h2 {
        text-align: center;
        margin-bottom: 24px;
        font-size: 20px;
    }

    #SectionItemsCardsOutput {
        padding: 0px;
    }

    .editUsedQuanty {
        padding: 60px 0px 40px 0px;
        width: calc(100vw - 40px);
        height: 300px;
    }
    #closeSectionSelectOutput {
        font-size: 18px;
    }
}