.main__section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.main__historic {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #0AD4B5 30.72%, rgba(255, 255, 255, 0.00) 30.73%), linear-gradient(45deg, #FF9700 23.23%, rgba(255, 255, 255, 0.00) 23.31%), linear-gradient(110deg, #F1F1F1 32.51%, #FFF 32.56%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 40px 90px;
    overflow: auto;
    background-repeat: no-repeat;
    background-position: fixed;
}

.section__search--div {
    background: var(--white);
    border-radius: 20px;
    width: 50vw;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    border: solid 1px var(--black);
}

.section__search--icon {
    color: var(--black);
    font-size: 20px;
    margin-right: 10px;
}

#searchInput {
    background: transparent;
    outline-width: 0px;
    border: 0px;
    width: 100%;
}

#searchFilter {
    color: var(--black);
    font-size: 30px;
    margin: 0px 5px 0px 10px;
    cursor: pointer;
}


#filterList {
    position: absolute;
    background: #fff;
    bottom: 0;
    right: 0;
    padding: 0px;
    margin-top: 40px;
    transform: translate(50px,50%) scale(0.01);
    z-index: 2;
    border-radius: 8px;
    box-shadow: 0px 8px 20px #0000006b;
    border: solid 1px var(--black);
    transition: 0.2s;
    display: none;
    flex-direction: column;
}

#filterList.active {
    display: flex;
    transform: translateY(calc(100% + 20px)) scale(1.0);
}

.filterList__li {
    color: var(--black);
    border-bottom: solid 1px var(--black);
    padding: 5px 40px 5px 20px;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
}

.filterList__li:last-child {
    border-bottom: none;
    border-radius: 0px 0px 8px 8px;
}

.filterList__li:first-child {
    padding: 7px 40px 5px 20px;
    border-radius: 8px 8px 0px 0px;
}

.filterList__li:hover {
    color: #fff;
    background: var(--black);
}

.filterList__li.active {
    color: #fff;
    background: var(--black);
    text-decoration: underline;
}


#historicSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#historicSection.searching {
    justify-content: center;
    height: 50vh;
}

@media only screen and (max-width: 500px) {
    .main__historic {
        padding: 40px 0px;
    }
}