.card__stock {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 6px 20px #00000042;
    margin: 8px 0px;
    display: flex;
    align-items: center;
    width: 90%;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.card__stock:hover {
    box-shadow: 0px 8px 20px #00000096;
    z-index: 2;
}

.card__stock .card__img {
    height: 70px;
    margin: 0px 40px 0px 0px;
}
.card__stock .card__div--1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card__stock .card__div--2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.card__stock .card__span {
    margin: 0px 20px 0px 0px;
    font-size: 20px;
    font-weight: 500;
}
.card__stock .card__h2 {
    color: var(--black);
    font-size: 22px;
    font-weight: 600;
}

.card__stock.lowStock {
    background: #FFF1F1;
    position: relative;
}
.card__stock.card__stock.lowStock::after {
    content: '';
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(11px, -9px);
}

@media only screen and (max-width: 500px) {
    .card__stock {
        width: 90%;
    }
    .card__stock .card__h2 {
        font-size: 20px;
        text-align: center;
    }
    .card__stock .card__img {
        height: 70px;
        margin: 0px 0px 10px 0px;
    }
    .card__stock .card__span {
        margin: 0px 5px 0px 5px;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }
    .card__stock .card__div--2 {
        width: 100%;
        flex-direction: column;
    }
    .card__stock {
        flex-direction: column;
        align-items: center;
    }
}