body {
    overflow: hidden;
}

.main__h2 {
    text-align: center;
    margin-bottom: 90px;
}

.main__tecnics {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #0AD4B5 30.72%, rgba(255, 255, 255, 0.00) 30.73%), linear-gradient(45deg, #FF9700 23.23%, rgba(255, 255, 255, 0.00) 23.31%), linear-gradient(110deg, #F1F1F1 32.51%, #FFF 32.56%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 40px 90px;
    overflow: auto;
}

#tecnicsSection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.article__tecnic--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background: linear-gradient(235deg, var(--gray), var(--white));
    padding: 55px 20px 20px 20px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 10px #00000042;
    position: relative;
    height: auto;
    transition: 0.5s;
}

.article__tecnic--card:hover {
    box-shadow: 0px 8px 20px #00000073;
    transform: scale(1.02);
}

.article__tecnic--card:hover .tecnic__img {
    box-shadow: 0px 2px 10px #1e1e1e4b;
}

.tecnic__img {
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    padding: 2px;
    border: solid 2px var(--black);
    position: absolute;
    top: 0;
    transform: translateY(-85px);
    transition: 0.5s;
}

.tecnic__p {
    margin: 20px 0px 0px 0px;
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    line-height: 29px;
    width: 240px;
}

#tecnicItemsSection {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: var(--white);
    z-index: 10;
    padding: 40px;
    overflow: auto;
}

#closeTecnicItems {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 20px 20px 0px 0px;
    position: absolute;
    font-size: 40px;
    background: transparent;
    border: 0px;
    outline-width: 0px;
    cursor: pointer;
    top: 0;
    right: 0;
}

#refreshItems {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 20px 70px 0px 0px;
    position: absolute;
    font-size: 30px;
    height: 40px;
    width: 40px;
    background: transparent;
    border: 0px;
    outline-width: 0px;
    cursor: pointer;
    top: 0;
    right: 0;
    transition: 0.5s;
}

#TecnicImg {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: solid 2px var(--black);
    padding: 2px;
}

#TecnicName {
    text-align: center;
    font-size: 30px;
    width: 392px;
    margin: 10px 0px;
    text-transform: capitalize;
}

.TecnicNameSection__h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 30px 0px 20px 0px;
}

#tecnicItems {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 500px) {
    .main__tecnics {
        padding: 40px 0px;
        background: #fff;
    }

    .main__h2 {
        font-size: 28px;
        margin-bottom: 50px;
    }

    #tecnicsSection {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    #TecnicName {
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        width: auto;
        margin: 10px 0px;
        padding: 0px 20px;
        box-sizing: border-box;
    }

    #tecnicItemsSection {
        z-index: 3;
        padding: 20px;
    }

    .TecnicNameSection__h2 {
        font-size: 30px;
        font-weight: 600;
        margin: 10px 0px 10px 0px;
    }

    #TecnicImg {
        width: 150px;
    }

    .article__tecnic--card {
        margin: 60px 0px;
    }

}