body {
    overflow-x: hidden;
    overflow-y: auto;
}

body.displayCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.main__home {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(135deg, #0AD4B5 30.72%, rgba(255, 255, 255, 0.00) 30.73%), linear-gradient(45deg, #FF9700 23.23%, rgba(255, 255, 255, 0.00) 23.31%), linear-gradient(110deg, #F1F1F1 32.51%, #FFF 32.56%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 40px 90px;
}

.home__photoContainer {
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

#userPhoto {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    padding: 4px;
    border: solid 2px var(--black);
}

#changePhotoBtn {
    background: var(--black);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 60px;
    width: 60px;
    border: solid 2px var(--black);
    cursor: pointer;
    transition: 0.2s;
}

#changePhotoBtn ion-icon {
    font-size: 35px;
    color: var(--white);
}

#changePhotoBtn:hover {
    background: #fff;
    border: solid 2px var(--black);
}

#changePhotoBtn:hover ion-icon {
    color: var(--black);
}

#signOut {
    position: absolute;
    right: 0;
    top: 0;
    margin: 40px 40px 0px 0px;
    background: transparent;
    border: none;
    border-bottom: solid 2px transparent;
    cursor: pointer;
    color: var(--orange);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    transition: 0.5s;
}

#signOut ion-icon {
    margin-left: 5px;
    font-size: 25px;
}

#signOut:hover {
    border-bottom: solid 2px var(--orange);
    gap: 2px;
}

#userFullName {
    color: var(--black);
    font-size: 30px;
    margin: 20px 0px 0px 0px;
}

#userWork {
    color: var(--black);
    font-size: 22px;

}

.home__h2 {
    color: var(--white);
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
    margin: 40px 0px 20px 0px;
}

.dataChange__h2 {
    color: var(--green);
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.dataChange__p {
    color: var(--green);
    display: flex;
    align-items: center;
    border-bottom: solid 2px var(--green);
    padding: 0px 10px 3px 10px;
    font-size: 20px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dataChange__p ion-icon {
    font-size: 30px;
    margin-right: 10px;
}

.home__dataChange {
    background: transparent;
    
    border-radius: 20px;
    width: 60%;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.dataChange__btn {
    color: #fff;
    background-color: var(--green);
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 0px;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
}

.dataChange__help {
    font-size: 18px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    color: var(--black) !important;
}


.addImgBackground {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #00000086;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    transition: 0.2s;
}

.addImgBackground.active {
    opacity: 1;
}

.addImg__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 40px;
}

.addImg__h2 {
    color: var(--green);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
}
.addImg__input {
    border: 0px;
    border-bottom: solid 2px var(--green);
    background: transparent;
    box-shadow: 2px 2px 6px var(--gray);
    padding: 4px 10px;
    border-radius: 5px;
    width: 40vw;
}
.addImg__input:focus {
    outline-width: 0px;
}

.addImg__input::placeholder {
    color: var(--green);
}




@media only screen and (max-width: 500px) {
    .main__home {
        padding: 60px 20px 20px 20px;
        background: #fff;
    }

    #userFullName {
        text-align: center;
        font-size: 30px;
    }
    .home__dataChange {
        width: 100%;
        padding: 20px;
    }

    .dataChange__p {
        width: 90%;
    }

    #userPhoto {
        height: 150px;
        width: 150px;
    }

    #changePhotoBtn {
        height: 50px;
        width: 50px;
    }

    #signOut {
        margin: 20px 20px 0px 0px;
        font-size: 20px;
    }
}