body {
    overflow-x: hidden;
    overflow-y: auto;
}

body.displayCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.main__home {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(246.26deg, #0AD4B5 -17.89%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 40px 90px;
}

.home__photoContainer {
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

#userPhoto {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: solid 2px var(--black);
}

#changePhotoBtn {
    background: var(--green);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 60px;
    width: 60px;
    border: solid 2px var(--black);
    cursor: pointer;
}

#changePhotoBtn ion-icon {
    font-size: 35px;
    color: var(--white);
}

#signOut {
    position: absolute;
    right: 0;
    top: 0;
    margin: 40px 40px 0px 0px;
    background: var(--white);
    border-radius: 100px;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    color: var(--orange);
    font-size: 25px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

#signOut ion-icon {
    margin-left: 5px;
    font-size: 30px;
}

#signOut:hover {
    background: var(--orange);
    color: var(--white);
}

#userFullName {
    color: var(--black);
    font-size: 30px;
    margin: 20px 0px 0px 0px;
}

#userWork {
    color: var(--black);
    font-size: 22px;

}

.home__h2 {
    color: var(--white);
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
    margin: 40px 0px 20px 0px;
}

.dataChange__h2 {
    color: var(--green);
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.dataChange__p {
    color: var(--green);
    display: flex;
    align-items: center;
    border-bottom: solid 2px var(--green);
    padding: 0px 10px 3px 10px;
    font-size: 20px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dataChange__p ion-icon {
    font-size: 30px;
    margin-right: 10px;
}

.home__dataChange {
    background: #fff;
    border-radius: 20px;
    width: 60%;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.dataChange__btn {
    color: #fff;
    background-color: var(--green);
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 0px;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
}

.dataChange__help {
    font-size: 18px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    color: var(--black) !important;
}

@media only screen and (max-width: 500px) {
    .main__home {
        padding: 60px 20px 20px 20px;
    }

    #userFullName {
        text-align: center;
        font-size: 30px;
    }
    .home__dataChange {
        width: 100%;
        padding: 20px;
    }

    .dataChange__p {
        width: 90%;
    }

    #userPhoto {
        height: 150px;
        width: 150px;
    }

    #changePhotoBtn {
        height: 50px;
        width: 50px;
    }

    #signOut {
        margin: 20px 20px 0px 0px;
        font-size: 20px;
    }
}