.alert {
    width: 60vw;
    height: 60vh;
    background: #fff;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.alert .alert__h2 {
    z-index: 3;
    color: red;
    display: flex;
    align-items: center;
    margin: 0px;
}

.alert .alert__h2 .alert__icon {
    margin-right: 10px;
}

.alert .alert__p {
    z-index: 3;
    color: var(--black);
    text-align: center;
    font-size: 20px;
    padding: 0px 20px;
    margin: 0px;
}

.alert__div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.alert__button {
    z-index: 3;
    width: 170px;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 15px;
    padding: 5px 0px;
}

#close {
    border: solid 2px var(--green);
    background: #fff;
    color: var(--green);
}

#await {
    color: #fff;
    background-color: var(--green);
    padding: 9px 4px;
}

.alert::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, var(--green), var(--green));
    height: 3000%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.alert::after {
    content: '';
    position: absolute;
    background: #fff;
    inset: 5px;
    border-radius: 15px;
}

@media only screen and (max-width: 500px) {
    .alert {
        width: 90vw;
        height: 60vh
    }
    .alert__button {
        z-index: 3;
        width: 120px;
        border: none;
        background: none;
        font-size: 19px;
        font-weight: 500;
        border-radius: 15px;
        padding: 5px 0px;
    }
    .alert__p {
        text-align: center;
    }
    .alert::before {
        content: '';
        position: absolute;
        width: 100px;
        background-image: linear-gradient(180deg, var(--green), var(--green));
        height: 310%;
        animation: rotBGimg 3s linear infinite;
        transition: all 0.2s linear;
    }
}