.main__section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.main__transfer {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #0AD4B5 30.72%, rgba(255, 255, 255, 0.00) 30.73%), linear-gradient(45deg, #FF9700 23.23%, rgba(255, 255, 255, 0.00) 23.31%), linear-gradient(110deg, #F1F1F1 32.51%, #FFF 32.56%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 40px 90px;
    overflow: auto;
    background-repeat: no-repeat;
    background-position: fixed;
}

.transfer__h1 {
    color: var(--black);
    font-size: 30px;
    margin-bottom: 40px;
}

#requestSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main__button {
    border: solid 1px var(--black);
    font-size: 30px;
    background: var(--white);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--black);
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 0;
    margin-bottom: 40px;
    transition: 0.2s;
}

.main__button:hover {
    background: var(--green);
    color: var(--white);
}

#usedButton {
    margin-right: 100px;
}

#sendButton {
    margin-left: 100px;
}

.section__search--div {
    background: #fff;
    border-radius: 20px;
    width: 50vw;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    border: solid 1px var(--black);
}

.section__search--icon {
    color: var(--black);
    font-size: 20px;
    margin-right: 10px;
}

.section__search--div input {
    background: transparent;
    outline-width: 0px;
    border: 0px;
    width: 100%;
}





/*-----------------------*/



#sendSection {
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    position: fixed;
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    overflow: auto;
}

.discharge__h2 {
    text-transform: capitalize;
    font-size: 25px;
    margin-bottom: 40px;
}

#addSendItems {
    background: var(--orange);
    color: var(--white);
    padding: 10px 40px;
    border: 0px;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 20px;
}

#SendItems {
    background: var(--green);
    color: var(--white);
    padding: 10px 40px;
    border: 0px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
}

#SendItems.loading {
    background: transparent;
    cursor: progress;   
    padding: 0px;
}

#sectionSelectSend {
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    position: fixed;
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
}

#SectionItemsCardsSend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 40px;
    padding: 0px 20px;
}

#centralizeSend {
    background: #00000063;
    backdrop-filter: blur(6px);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
    display: none;
}

.editUsedQuanty {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    padding: 40px 0px;
    width: 50%;
    height: 50%;
    border-radius: 20px;
}

.editUsedQuanty__h2 {
    font-size: 25px;
    color: var(--black);
}

.discharge__h2.subtitle {
    font-size: 22px;
    margin: 40px 0px 20px 0px;
}

#confirmSendQuantyBtn {
    background: var(--green);
    color: var(--white);
    padding: 10px 40px;
    border: 0px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
}

#closeEditSendQuanty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background: transparent;
    border: 0px;
    outline-width: 0px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0px 0px;
}

#usedQuantyInput {
    width: 90%;
}

#closeSectionSelectSend {
    background: var(--green);
    color: #fff;
    border-radius: 25px;
    position: absolute;
    bottom: 0;
    margin: 0px 0px 20px 0px;
    padding: 8px 25px;
    font-size: 22px;
    border: solid 2px transparent;
    text-transform: uppercase;
    transition: 0.2s;
}

#closeSectionSelectSend:hover {
    border: solid 2px var(--green);
    background: transparent;
    color: var(--green);
    box-shadow: 0px 0px 20px var(--green);
}

#closeSendSection {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background: transparent;
    border: 0px;
    outline-width: 0px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0px 0px;
}

#sendSelectedSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#editSendQuantyAlert {
    color: #f00;
    margin: 0px;
    font-size: 19px;
}
#sendItemsAlert {
    color: #f00;
    margin: 20px 0px;
    font-size: 19px;
}





/*-----------------------*/





@media only screen and (max-width: 500px) {
    .main__transfer {
        padding: 40px 0px;
    }

    .transfer__h1 {
        text-align: center;
        font-size: 25px;
        padding: 0px 40px;
        margin-bottom: 20px;
    }

    .sendSection__h2 {
        margin: 0px 40px 20px 40px;
        text-align: center;
    }

    #sendSection {
        padding: 60px 0px 40px 0px;
    }

    #closeSendSection {
        margin: 20px 20px 0px 0px;
    }

    .section__search--div {
        width: 80vw;
    }

    #itemSelectedIMG {
        height: 120px;
    }

    #finalizeSend {
        padding: 0px 20px;
    }

    .main__button {
        margin-bottom: 20px;
        font-size: 25px;
        height: 50px;
        width: 50px;
    }

    #usedButton {
        margin-right: 80px;
    }
    #sendButton {
        margin-left: 80px;
    }
    .editUsedQuanty {
        padding: 60px 0px 40px 0px;
        width: calc(100vw - 40px);
        height: 300px;
    }
    #closeSectionSelectSend {
        font-size: 18px;
    }
}