#viewDischargeSection {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 5;
}

.viewDischargeSection__copyright {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0px 0px 20px 20px;
    text-transform: capitalize;
    font-weight: 500;
    z-index: 4;
    color: #fff;
}

.viewDischargeSection__back {
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px 0px 0px 20px;
    background: transparent;
    border: transparent;
    text-transform: capitalize;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--white);
    font-weight: 500;
    font-size: 20px;
    transition: 0.2s;
    z-index: 4;
}

.viewDischargeSection__back ion-icon {
    transition: 0.2s;
}

.viewDischargeSection__back:hover {
    text-decoration: underline;
}

.viewDischargeSection__back:hover ion-icon {
    transform: translateX(-5px);
}

.squares {
    width: 390px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.square--1 {
    width: 100%;
    height: 100%;
    rotate: 30deg;
    background: var(--green);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -51%;
    margin-left: -50%;
    z-index: 3;
}

.square--2 {
    width: 100%;
    height: 200%;
    rotate: 10deg;
    background: rgba(231, 231, 231, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -51%;
    margin-left: -51%;
    z-index: 1;
}

.square--3 {
    width: 100%;
    height: 200%;
    rotate: 327deg;
    background: var(--orange);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -153%;
    margin-left: -51%;
    z-index: 2;
}

.content {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px 0px 0px;
}

.viewDischargeSection__h2 {
    font-size: 34px;
    font-weight: 500;
    margin: 0px;
    text-transform: uppercase;
}

.viewTransferSection__tecnic {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 500;
    width: 260px;
    line-height: 16px;
    margin-bottom: 10px;
}

.viewDischargeSection__div--1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px 15px 0px;
}

.viewDischargeSection__date {
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 500;
}

.viewDischargeSection__client {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 500;
}

.viewDischargeSection__header {
    width: 100%;
    background: rgba(231, 231, 231, 0.6);
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
}

.viewDischargeSection__header__span.span--1 {
    width: 19%;
    margin-right: 20px;
}

.viewDischargeSection__header__span.span--2 {
    width: 39%;
    margin-right: 20px;
}

.viewDischargeSection__header__span.span--3 {
    width: 19%;
    margin-right: 20px;
    text-align: center;
}

.viewDischargeSection__header__span.span--4 {
    width: 14%;
    text-align: center;
}

.viewDischargeSection__section {
    width: 100%;
    max-height: 256px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: solid 2px var(--black);
}

.viewDischargeSection__item {
    --background-1: rgba(231, 231, 231, 0.6);
    --background-2: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.viewDischargeSection__itemQuanty {
    width: 19%;
    margin-right: 20px;
}

.viewDischargeSection__itemName {
    margin: 0px;
    width: 39%;
    margin-right: 20px;
}

.viewDischargeSection__itemPrice {
    width: 19%;
    margin-right: 20px;
    text-align: center;
}

.viewDischargeSection__itemTotalPrice {
    width: 14%;
    text-align: center;
}

.viewDischargeSection__div--2 {
    margin-top: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.viewDischargeSection__div--3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}

.viewDischargeSection__local {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0px;
    width: 100%;
}

.viewDischargeSection__descriprion {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0px;
    width: 100%;
}

.viewDischargeSection__allTotal {
    font-size: 34px;
    font-weight: 500;
    margin: 0px;
    text-transform: uppercase;
}

.viewDischargeSection__logo {
    height: 60px;
    margin-top: 20px;
}