.main__section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.main__stock {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #0AD4B5 30.72%, rgba(255, 255, 255, 0.00) 30.73%), linear-gradient(45deg, #FF9700 23.23%, rgba(255, 255, 255, 0.00) 23.31%), linear-gradient(110deg, #F1F1F1 32.51%, #FFF 32.56%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 40px 90px;
    overflow: auto;
    background-repeat: no-repeat;
    background-position: fixed;
}

.section__search--div {
    background: #fff;
    border-radius: 20px;
    border: solid 1px var(--black);
    width: 50vw;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.section__search--icon {
    color: var(--black);
    font-size: 20px;
    margin-right: 10px;
}

#searchInput {
    background: transparent;
    outline-width: 0px;
    border: 0px;
    width: 100%;
}

#stockSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
@media only screen and (max-width: 500px) {
    .main__stock {
        padding: 40px 0px;
        background: #fff;
    }
    .section__search--div {
        width: 80vw;
    }
    #stockSection {
        margin-top: 20px;
    }
}